<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <title>office employee managment system</title>
  </head>
  <body>
    
    <div class="container">
      <h1>Office Employee Managment System !!!</h1>
      <hr>
      <a class="btn btn-primary" href="/all_emp" role="button">View all Employee</a>
      <a class="btn btn-primary" href="/add_emp" role="button">Add an employee</a>
      <a class="btn btn-primary" href="/remove_emp" role="button">remove an employe</a>
      <a class="btn btn-primary" href="/filter_emp" role="button">filter employee details</a>
      

    </div>

   

   
  </body>
</html>